<div class="container">

    <div class="line">

        <h2>{{ viewDate | date: 'LLLL yyyy' : '' : 'fr' }}</h2>
        <p-button label="Ajouter" (onClick)="isCreatingOrUpdating = true" class="button-add"/>

    </div>

    <mwl-calendar-month-view [viewDate]="viewDate"
        [events]="calendarEventsSignal()" [weekStartsOn]="1" [locale]="locale"
        (dayClicked)="onDayClick($event)">
    </mwl-calendar-month-view>

    <div class="footer">

        <div class="buttons-container">

            <p-button label="Précédent" (onClick)="goPreviousMonth()" />
            <p-button label="Aujourd'hui" (onClick)="goToday()" />
            <p-button label="Suivant" (onClick)="goNextMonth()" />

        </div>

    </div>

</div>

<app-create-or-update-event (agendaEventToEditChange)="removeAgendaEventEdit()" [agendaEventToEdit]="agendaEventEditing" [date]="selectedDate" [(isDisplayed)]="isCreatingOrUpdating" (newAgendaEvents)="addAgendaEvents($event)"></app-create-or-update-event>

<app-events-of-date (openEditEvent)="openEdit($event)" (openAddEvent)="openWithDate($event)" [agendaEvents]="eventsOfDate" [(selectedDate)]="selectedDate" ngSkipHydration="true" (agendaEventDeleted)="removeAgendaEvent($event)"></app-events-of-date>
