<div class="container">

  <div class="bloc-default">

    <h2 class="no-margin">Mes dégustations</h2>

    <div class="header">

      <div class="input-container">
        <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input type="text" pInputText placeholder="Rechercher" [(ngModel)]="tastingService.search" />
        </p-iconfield>
      </div>

      <p-treeselect class="treeselect-container" [(ngModel)]="tastingService.categoriesId" [options]="TastingCategoryTree" display="chip" [metaKeySelection]="false" selectionMode="checkbox" placeholder="Catégories" />
  
      <p-button icon="pi pi-plus-circle" label="Ajouter" (onClick)="tastingService.isDisplayedCreateOrEdit = true" />

    </div>

    <div class="tasting-container">

      @if (tastingService.isLoading()) {
        <app-loader></app-loader>
      }

        @for (tasting of tastingService.tastings(); track $index) {
          <div class="tasting-card">
            <p-speeddial [model]="getButtonsEdit(tasting)" direction="down" mask [style]="{ position: 'absolute', right: '.5rem', top: '.5rem' }" />
            @if (isLoadingFileMap[tasting.id]) {
              <app-loader></app-loader>
            } @else {
              <img src="{{ tasting.fileBlobUrl }}" alt="{{ tasting.name }}" class="card-image"/>
            }            
            <div class="content">
              <div class="line">
                <h5 class="tasting-title no-margin">{{ tasting.name }}</h5>
                <p class="tasting-category no-margin">{{ tasting.category?.name }}</p>
              </div>
              <div class="line">
                <p-rating [(ngModel)]="tasting.rating" [readonly]="true" />
              </div>
            </div>
          </div>
        }

    </div>

    <app-footer-table [itemCount]="tastingService.itemCount()" [selectedSize]="null" [(page)]="tastingService.page" [(limit)]="tastingService.limit"></app-footer-table>

  </div>

</div>

<app-add-or-edit-tasting [categories]="TastingCategoryTree"></app-add-or-edit-tasting>
