.open-arrow {
    transition: transform 0.6s ease-in-out;
    cursor: pointer;
}

.rotated {
    transform: rotate(180deg);
}

.container {
    width: 100%;
    display: flex;
    width: 100%;
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
}

.part {
    display: flex;
    align-content: center;
}

.page-name {
    margin: 0;
    font-weight: 600;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.nav {
    flex-direction: column;
    gap: 0;
}

::ng-deep p-breadcrumb {
    padding: 0 !important;
    background-color: transparent !important;
    padding-left: .4rem !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center;
}

::ng-deep .p-breadcrumb {
    padding: 0 !important;
    background-color: transparent !important;
    padding-left: .4rem !important;
}