<div class="container">
  <div class="part">
      <p-button icon="pi pi-align-justify" [rounded]="true" [text]="true" (click)="toggleNavigation()" severity="secondary" />
      <p-breadcrumb [model]="breadcrumbItems" [home]="home" />
  </div>

  <div class="part">
    <p-menu #menu [popup]="true" [model]="menuItems" styleClass="custom-menu"></p-menu>

    <p-button icon="pi pi-cog" [rounded]="true" [text]="true" [style]="{ float: 'left' }" severity="secondary"
      (onClick)="openMenu($event, menu)" />
  </div>

</div>