<p-dialog header="Ajouter une découverte" [modal]="true" [(visible)]="tastingService.isDisplayedCreateOrEdit" (onHide)="cancel()">

    <form class="form" [formGroup]="form">

        <div class="input-container">
            <label for="name" class="label">Nom</label>
            <p-iconfield>
                <p-inputicon [ngClass]="{'p-error': form.get('name')?.invalid && form.get('name')?.dirty}"
                    class="pi pi-user" />
                <input type="text" pInputText placeholder="Le nom" formControlName="name"
                    [ngClass]="{'p-invalid': form.get('name')?.invalid && form.get('name')?.dirty}" />
            </p-iconfield>
            @if(form.get('name')?.invalid && form.get('name')?.dirty) {
            <small class="p-error block error-message">Le nom est requis</small>
            }
        </div>

        <div class="input-container">
            <label for="category" class="label">Catégorie</label>
            <p-treeselect formControlName="category" emptyMessage="Catégorie" [options]="categories" placeholder="Catégorie" appendTo="body" />
            @if(form.get('category')?.invalid && form.get('category')?.dirty) {
                <small class="p-error block error-message">La Catégorie est requise</small>
                }
        </div>

        <div class="line">
            <label for="dateSeen" class="label">Note</label>
            <p-rating formControlName="rating" />
        </div>

        <div class="input-container">
            <label for="description" class="label">Description</label>
            <p-editor formControlName="description">
                <ng-template #header>
                    <span class="ql-formats">
                        <button type="button" class="ql-bold" aria-label="Bold"></button>
                        <button type="button" class="ql-italic" aria-label="Italic"></button>
                        <button type="button" class="ql-underline" aria-label="Underline"></button>
                    </span>
                </ng-template>
            </p-editor>
        </div>

        <img [src]="setImageUrl(tastingService.previewUrl)" alt="Preview" class="image" />

        <p-fileUpload #fu mode="basic" [chooseLabel]="tastingService.previewUrl ? 'Changer image' : 'Choisir une image'"
            chooseIcon="pi pi-upload" accept="image/*" maxFileSize="1000000" (onSelect)="onFileSelect($event)"> 
        </p-fileUpload>

        <div class="buttons-container">
            <p-button label="Annuler" severity="secondary" (onClick)="cancel()" [loading]="tastingService.isLoadingEditOrAdd" />
            <p-button label="Enregistrer" [loading]="tastingService.isLoadingEditOrAdd" (onClick)="valid()" />
        </div>

    </form>

</p-dialog>