<div class="container">

    <div class="bloc-default">

        <div class="header">
            
            <div class="input-container">
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-user" />
                    <p-autocomplete [suggestions]="groupsToSearch" [autoZIndex]="false" placeholder="Rechercher un groupe"
                        [delay]="500" optionLabel="title" [completeOnFocus]="true" [(ngModel)]="search"
                        (completeMethod)="getGroups()">
                        <ng-template let-movie #item>
                            <div class="line-movie-search">
                                <div>{{ movie.title }}</div>
                            </div>
                        </ng-template>
                    </p-autocomplete>
                </p-iconfield>
            </div>
    
            <p-button icon="pi pi-add" class="button-add" label="Créer un groupe" (onClick)="isCreatingGroup = true" />
            
        </div>

        <div class="groups-container">

            @for (group of paginatedGroups.data; track $index) {
            <div class="group">
                <div class="group-header">
                    <p class="group-name">{{ group.name }}</p>
                    <div class="icon-container">
                        <i class="pi pi-pen-to-square"></i>
                        <i class="pi pi-trash red" (click)="prepareDelete($event, group)"></i>
                    </div>
                </div>
                <div class="group-member">
                    <label class="user-count">{{ group.users.length }} membres</label>
                    <p class="member-display" (click)="toggleGroupUsers(group.id)">
                        <i class="pi" [ngClass]="isGroupDisplayed(group.id) ? 'pi-angle-up' : 'pi-angle-down'"></i>
                        Afficher les membres
                      </p>
                </div>
                @if(isGroupDisplayed(group.id)) {
                <div class="group-users">
                    @for (user of group.users; track $index) {
                    <div class="user">
                        <p class="initials">{{ user.findInitials() }}</p>
                        <div class="user-data">
                            <p class="name">{{ user.firstName }} {{ user.lastName }}</p>
                            <p class="email">{{ user.email }}</p>
                        </div>
                    </div>
                    }
                </div>
                }
                <p-button icon="pi pi-users" label="Gérer les membres" variant="outlined" severity="secondary" (onClick)="manageGroupUsers(group)" />
            </div>
            }

        </div>

        <app-footer-table [itemCount]="paginatedGroups.paginatedMeta.itemCount" [selectedSize]="null" [page]="paginatedGroups.paginatedMeta.page" [limit]="paginatedGroups.paginatedMeta.limit"></app-footer-table>

    </div>

</div>

<app-manage-group-users [group]="groupBeingManaged" [isManaging]="isManagingGroupUsers" (groupUpdated)="updatedGroupUsers($event)" (close)="closeManageGroupUsers()"></app-manage-group-users>

<app-create-group [isVisible]="isCreatingGroup" (close)="isCreatingGroup = false" (newGroup)="pushNewGroup($event)"></app-create-group>
