::ng-deep .p-tree-selectable, .tree {
    width: 100%;
}

::ng-deep .p-tree-node-label {
    width: 100%;
}

.tree-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.div {
    width: 100%;
    padding: 1rem 1rem;
}