<div class="container">

  <div class="bloc-default">

    <p-splitter [panelSizes]="[35, 65]">

      <ng-template #panel>

        <p-tree class="tree" [value]="treeCategories" [filter]="true" filterMode="strict" (onNodeSelect)="this.currentNode = $event.node"
          filterPlaceholder="Rechercher par nom" selectionMode="single" [draggableNodes]="true" [droppableNodes]="true" (onNodeDrop)="onNodeDrop($event)"
          draggableScope="self" droppableScope="self">


          <ng-template let-node pTemplate="default">
            <div class="tree-line">
              <span>{{ node.label }}</span>

              <p-menu #menu [popup]="true" [model]="menuItems" styleClass="custom-menu"></p-menu>

              <p-button icon="pi pi-ellipsis-h" [rounded]="true" [text]="true" [style]="{ float: 'right' }"
                (onClick)="openMenu($event, menu, node)" />
            </div>
          </ng-template>

        </p-tree>

      </ng-template>

      <ng-template #panel>

        <div class="div">

          <h1 class="no-margin">{{ currentNode === null ? 'Sélectionné une catégorie' : currentNode?.data?.name }}</h1>

          <app-photo [categoryId]="currentNode?.data?.id"></app-photo>
          
        </div>

      </ng-template>

    </p-splitter>

  </div>

</div>

<app-add-or-edit-picture-category [(isDisplayed)]="isAddingOrEditingCategory" [pictureCategory]="currentNode?.data"
  [isEditMode]="isEditingCategory" (newCategoryCreated)="addNew($event)"
  (categoryEdited)="editOne($event)"></app-add-or-edit-picture-category>