::ng-deep .p-tree-selectable {
    width: 100%;
}

::ng-deep .p-tree-node-label {
    width: 100%;
}

.tree-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.div {
    width: 100%;
    padding: 1rem 1rem;
}

::ng-deep .p-tree {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0.3rem;
  }

.footer-tree {
    margin-top: auto;
}