<div class="container">

    <div class="bloc-default">

        <h2>Gérer vos utilisateurs</h2>

        <div class="header">
            
            <div class="input-container">
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-user" />
                    <input type="text" pInputText placeholder="Rechercher" [(ngModel)]="search" (ngModelChange)="getUsers()" />
                </p-iconfield>
            </div>
            
        </div>

        <p-table [value]="paginatedUsers.data" stripedRows editMode="row">
            <ng-template #header>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date inscription</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template #body let-user>
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.getFullName() }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.createdAt | date: 'dd/MM/yyyy' }}</td>
                    <td>
                        <button
                            pButton
                            pRipple
                            type="button"
                            [icon]="user.isAuthorized ? 'pi pi-check-circle' : 'pi pi-times-circle'"
                            (click)="validUser(user)"
                            text
                            [disabled]="user.isAuthorized"
                            rounded
                            [severity]="user.isAuthorized ? 'success' : 'danger'"
                        ></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <app-footer-table></app-footer-table>

    </div>

</div>