<div class="container">

    <div class="bloc-default">

        <h2>Les films du moment</h2>

        <div class="input-container">
            <p-iconfield>
                <p-inputicon class="pi pi-user" />
                <p-autocomplete [suggestions]="videoService.videos()" [autoZIndex]="false" placeholder="Rechercher un film"
                    [delay]="500" optionLabel="title" [completeOnFocus]="true" [(ngModel)]="videoService.search" (onSelect)="onMovieSelect($event)">
                    <ng-template let-movie #item>
                        <div class="line-movie-search">
                            <img [src]="movie.fileUrl" style="width: 26px" />
                            <div>{{ movie.title }}</div>
                        </div>
                    </ng-template>
                </p-autocomplete>
            </p-iconfield>
        </div>

        <app-current-videos></app-current-videos>

        <app-watch-videos></app-watch-videos>

    </div>

</div>