.header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-container {
    flex: 1;
}

::ng-deep .p-datatable .p-button,
ng-deep .p-datatable .p-button-icon-only.p-button-rounded {
    padding: 0 !important;
    height: auto !important;
}