<div class="container">

    <div class="bloc-default">

        <div class="input-container">
            <p-iconfield>
                <p-inputicon class="pi pi-user" />
                <p-autocomplete [suggestions]="videoService.videos()" [autoZIndex]="false"
                    placeholder="Rechercher un film" [delay]="500" optionLabel="title" [completeOnFocus]="true"
                    [(ngModel)]="videoService.search" (onSelect)="onVideoSelect($event)">
                    <ng-template let-movie #item>
                        <div class="line-movie-search">
                            <img [src]="movie.fileUrl" style="width: 26px" />
                            <div>{{ movie.title }}</div>
                        </div>
                    </ng-template>
                </p-autocomplete>
            </p-iconfield>
        </div>

        <div class="card">
            <p-tabs value="0">
                <p-tablist>
                    <p-tab value="0">À l’affiche</p-tab> <!-- autre noms possible (Sur grand écran / Les sorties du moment)-->
                    <p-tab value="1">Dans le viseur</p-tab> <!-- autre noms possible (À caser un soir / Prochainement chez moi)-->
                    <p-tab value="2">C’est checké</p-tab> <!-- autre noms possible (Mission terminée)-->
                </p-tablist>
                <p-tabpanels>
                    <p-tabpanel value="0">
                        <app-current-videos></app-current-videos>
                    </p-tabpanel>
                    <p-tabpanel value="1">
                        <app-watch-videos></app-watch-videos>
                    </p-tabpanel>
                    <p-tabpanel value="2">
                        
                    </p-tabpanel>
                </p-tabpanels>
            </p-tabs>
        </div>

    </div>

</div>