.image {
    width: 100%;
}

.card {
    width: 250px;
    border: var(--border);
    border-radius: 10px;
    cursor: pointer;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.title {
    font-weight: bold;
}

.line {
    display: flex;
    justify-content: space-between ;
}

.text {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: .5rem;
}