.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container > :first-child {
    flex: 1;
}

::ng-deep .p-select {
    max-height: 38px;
    max-width: 200px;
}

::ng-deep p-paginator {
    flex: 1;
}
::ng-deep .p-paginator {
    justify-content: end;
}