<div class="container">

  <h1 class="no-margin">{{ category() === null ? 'Sélectionné une catégorie' : category()!.name }}</h1>

  <div class="photos-container">
    @for (url of picturesFilesUrls; track $index) {
    <p-image [src]="url" alt="Photo {{ $index + 1 }}" width="250" class="file-image" [preview]="true" />
    }
  </div>

  @if(category()) {
  @if(isSendingFiles) {
  <app-loader></app-loader>
  } @else {
  <p-fileUpload name="demo[]" [multiple]="true" accept="image/*" maxFileSize="10000000" class="file-upload"
    mode="advanced" [auto]="false" #fileUpload>

    <ng-template #header let-chooseCallback="chooseCallback" let-uploadCallback="uploadCallback" let-files
      let-clearCallback="clearCallback">
      <h3 class="no-margin">Ajouter des fichiers</h3>
      <p-button (onClick)="chooseCallback()" icon="pi pi-images" [rounded]="true" [outlined]="true"
        class="first-button" />
      <p-button (onClick)="uploadEvent(uploadCallback, files)" icon="pi pi-cloud-upload" [rounded]="true"
        [outlined]="true" severity="success" [disabled]="!files || files.length === 0" />
      <p-button (onClick)="clearCallback()" icon="pi pi-times" [rounded]="true" [outlined]="true" severity="danger"
        [disabled]="!files || files.length === 0" />
    </ng-template>

    <ng-template #empty>
      <div>Faites glisser les fichiers ici pour les ajouter.</div>
    </ng-template>

  </p-fileUpload>
  }
  }

</div>